/*Settings for map*/


.mapcontainer{
	/* [disabled]background-color: #F66; */
	/* [disabled]float: left; */
	width: 100%;
	/* [disabled]left: -100px; */
	/* [disabled]position: relative; */

}
.two-third #map{
	height:620px;
	width:100%;
	border: thin solid #849978;
	background-color: #9FB797;
	float: left;
	position: relative;
	z-index: 10;	/*margin-bottom: 15px;*/
}

.two-third .toggle{
	display: block;
	position: relative;
	top: 460px;
	background-color: rgba(255,255,255,0.8);
	z-index: 9999;
	margin-left: 15px;
	left: 0px;
	/* [disabled]padding: 20px; */
	width: 380px;
	height: 125px;
	border: thin solid #999;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.toggle #form {
	/* [disabled]background-color: #C63; */
	/* [disabled]height: 90%; */
	width: 150px;
	position: absolute;
	/* [disabled]left: 0px; */
	/* [disabled]top: 0px; */
	font-size: 0.8em;
	padding: 10px;
}
.toggle #search {
	/* [disabled]background-color: #30F; */
	/* [disabled]height: 100px; */
	width: 190px;
	position: absolute;
	left: 170px;
	/* [disabled]top: 20px; */
	font-size: 0.8em;
	padding: 10px;
}

#map #hide  {
	display: block;
	position: absolute;
	z-index: 100;
	top: 0px;
	right: 0px;
	height: 200px;
	width: 200px;
	background-color: #F36;
}

.mapFilter {
	/* [disabled]background-color: #9FB797; */
	margin: 0px;
	font-size: 0.9em;
	float: left;
	width: 600px;
	/* [disabled]border-right-width: thin; */
	/* [disabled]border-left-width: thin; */
	/* [disabled]border-right-style: solid; */
	/* [disabled]border-left-style: solid; */
	/* [disabled]border-right-color: #849978; */
	/* [disabled]border-left-color: #849978; */
	/* [disabled]color: #FFF; */
	/* [disabled]border-bottom-width: thin; */
	/* [disabled]border-bottom-style: solid; */
	/* [disabled]border-bottom-color: #849978; */
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
}
.mapFilter .column {
	display: block;
	float: left;
	width: 50%;
	/* [disabled]background-color: #CC6; */
	/* [disabled]padding-left: 5px; */
}


.mapFilter #heading {
	font-size: 22px;
	font-weight: bold;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #000;
	display: block;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}


.button{
  display: inline-block;
  background-color: grey;
  color:white;
  margin-right: 30px;
  margin-top: 10px;
  padding:4px;
}

#frmSearch{
  display:inline-block;
  position:relative;
}

.buttoncontainer{
	/* [disabled]display: block; */
	/* [disabled]background-color: #3F9; */
	/* [disabled]width: 100%; */
	/* [disabled]margin-bottom: 15px; */
	/* [disabled]position: relative; */
}
.buttoncontainer:not(:first-child) {
	/* [disabled]margin-bottom: 15px; */
	/* [disabled]margin-top: 15px; */
}

.buttoncontainer h4 {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	font-size: 1.1em;
	display: block;
}
.buttoncontainer h5 {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	font-size: 0.9em;
	display: block;
}

.buttoncontainer h4:not(:first-child) {
	font-size: 1.1em;
	display: block;
	margin-top: 8px;
}



.d3{
	width:100%;
	/* [disabled]height: 400px; */
	background-color:#889D7C;
	margin-bottom: 15px;
	position: relative;
	border: thin solid #849978;
}
.d3 .pulldown {
	position: absolute;
	left: 5px;
	top: 5px;
}


/*This is for the axis*/

.axis path,
.axis line{
  fill:none;
  stroke: #606060;
  shape-rendering: crispEdges;
}



.axis text{
  font-family: sans-serif;
  font-size: 11px;
}

#yaxistitle{
  font-size:12px;
  font-family: "Arial";
}

   .item {
      width: 20px;
      height: 200px;
      color:blue;
    }

.emphasis{
	font-weight:900;
	color:#4D4D17;
}
.iewarning{
  font-size: 75%;
  color:red;
  width:600px;
  font-weight:100;
  letter-spacing: 0px;
font-family: sans-serif;}

.listHead{
	font-size: 18px;
	line-height: 22px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}


ul{
	background-color: #FF9;
	display: block;
	/* [disabled]width: 260px; */
	list-style-type: none;
	/* [disabled]position: relative; */
	/* [disabled]border: 2px solid #639; */
	/* [disabled]float: right; */
	font-size: 0.8em;
	padding: 0px;
	/* [disabled]margin-top: 15px; */
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

li{
	float: left;
	/*width: 355px;*/
	/* [disabled]background-color: #3FF; */
	display: list-item;
	/* [disabled]position: relative; */
	/* [disabled]margin: 0px; */
	padding-bottom: 5px;
}
li:nth-child(odd) {
	/* [disabled]color: green; */
	/* [disabled]float: left; */
	/*margin-right: 10px;*/
	/* [disabled]padding: 0px; */
	/*margin-left: 15px;*/
}
li:nth-child(even) {
	/* [disabled]color: red; */
	/* [disabled]float: right; */
	/*margin-left: 20px;*/
	/*padding-left: 5px;*/
}
.buttoncontainer .wrapper {
	/* [disabled]background-color: #C90; */
	display: block;
}

input[type=search] {
	/* ... other rules ... */
    cursor:pointer;
	/* [disabled]font-weight: bold; */
	/* [disabled]border: thin solid #333; */
	display: block;
	width: 135px;
	height: 28px;
	padding-left: 5px;
	/* [disabled]float: left; */
}
.dist.btnZoom  , .people.btnZoom, .pophull.btnZoom{
	/* [disabled]background-color: #FFFFFF; */
	width: 145px;
	/* [disabled]float: left; */
	height: 20px;
	margin-right: 5px;
	display: inline-block;
}

input[type=button] OLD{
	color:#FFFFFF;
	font:Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size:0.9em;
	/* ... other rules ... */
    cursor:pointer;
	/* [disabled]font-weight: bold; */
	background-color: #666;
	padding: 3px;
	border: thin solid #333;
	margin-bottom: 5px;
}

input[type=button]OLD:hover {
	background-color:#FFFF99;
	color: #000;
	border: thin solid #FF0;
}


select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(../images/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px none #FFF;
	color: #555;
	font-size: 0.9em;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	margin: 0;
 }
 
 
 ::-webkit-input-placeholder {
	font-family: "Trebuchet MS";
    color:#333;
	font-size:11px;
	font-style:italic;
}
:-moz-placeholder {
	font-family: "Trebuchet MS";
    color:#333;
	font-size:11px;
	font-style:italic;
}
::-moz-placeholder {
	font-family: "Trebuchet MS";
    color:#333;
	font-size:11px;
	font-style:italic;
}
:-ms-input-placeholder {
	font-family: "Trebuchet MS";
    color:#333;
	font-size:11px;
	font-style:italic;
}
.buttoncontainer p {
	/* [disabled]float: left; */
	margin: 0px;
	padding: 0px;
	/* [disabled]line-height: 26px; */
}

.date{
	font-weight:bold;
}

div.cartodb-popup ul{
	font-size: 0.9em;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
div.cartodb-popup li {
	font-size: 1em;
	margin: 0px;
	list-style-type: none;
	display: inline-block;
	width: 100%;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #788F89;
}

div.cartodb-popup li:nth-child(odd){
	/* [disabled]background-color: #CCC; */
}

div.cartodb-popup li:nth-child(even){
	/* [disabled]background-color: #999; */
}
